body {
    background-color: black;
}

header {
    flex-wrap: wrap;
}

.title .is-fluid {
    padding-left: 0;
    padding-right:0;
}

.flight-info {
    font-size: 1.5rem;
    margin: 0 0 1.5rem 3rem;
}